# --- Jekyll & Frontend build outputs ---
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# --- Ruby & Bundler dependencies ---
.bundle/
vendor/
Gemfile.lock
.ruby-version

# --- IDEs and Text Editors ---
.idea/
.vscode/

# --- System Files ---
.DS_Store
